* {
  box-sizing: border-box;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'PT Sans', sans-serif;
}
a { color: inherit;
}
h1, h2, h3, h4, p, ul, ol, blockquote { width: 700px; margin: 0 auto;
}
h1, h2, h3 { font-family: 'PT Sans Caption', sans-serif; font-weight: bold;
}
h1 { margin-top: 67px; font-size: 38px; line-height: 45px;
}
h1 + p { margin-top: 8px; font-family: 'PT Sans Caption', sans-serif; font-size: 22px; line-height: 32px; color: rgba(0,0,0,.4);
}
h1 + p + p { margin-top: 30px;
}
h2 { margin-top: 43px; font-size: 32px; line-height: 36px; color: rgba(0, 0, 0, .8);
}
h2 + p,
h2 + blockquote { margin-top: 7px;
}
h3, h4 { margin-top: 36px; font-size: 28px; line-height: 34px; color: rgba(0, 0, 0, .8);
}
h3 + p,
h3 + blockquote { margin-top: 6px;
}
p, blockquote, li { margin-top: 29px; font-size: 20px; line-height: 34px;
}
blockquote {
  font-style: italic;
  position: relative;
  /* border-left: 3px solid black; */
  /* padding-left: 17px; */
}
blockquote::before {
  content: "";
  width: 3px;
  height: 100%;
  background: black;
  display: block;
  position: absolute;
  top: 0;
  left: -17px;
}

img { display: block; width: 1020px; margin: 79px auto 0;
}
img + h2 { margin-top: 79px;
}
img + p,
img + blockquote,
img + ul { margin-top: 77px;
}
h2 + img { margin-top: 82px;
}
h3 + img { margin-top: 81px;
}
ul li {
  list-style-type: disc;
}
ul {
  padding-left: 20px;
}
sidebar {
  display: block;
  position: fixed;
  padding: 30px;
  top: 50px;
  left: 20px;
  width: 260px;
  opacity: .15;
  transition: all 2s ease;
}
sidebar:hover {
  opacity: 1;
  transition: all .2s ease;
}
sidebar ul {
  width: auto;
  margin: 0;
  padding: 0;
}
sidebar li {
  list-style-type: none;
  margin: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 15px;
}
sidebar a {
  text-decoration: none;
}
sidebar>ul>li:first-child {
  font-weight: bold;
}
sidebar ul ul li {
  margin-left: 10px;
  color: #888;
}
.navbar {
  display: flex;
  height: 50px;
  width: 100%;
  position: fixed;
  padding: 15px;
  left: 0;
  top: 0;
  background: #fff;
  border-bottom: 1px solid #ccc;
  justify-content: space-between;
  box-shadow: 0px 2px 4px rgba(0,0,0,.2);
  z-index: 100;
}
.navbar img {
  height: 20px;
  width: auto;
  margin: 0;
}
section {
  /* border: 2px solid black; */
  height: 800px;
}
section > div {
  /* border: 1px solid red; */
  display: inline-block;
  width: 50%;
  height: 100%;
  vertical-align: top;
  overflow: hidden;
  position: relative;
}

.sec_img img {
  width: 100%;
  position: absolute;
  margin: 0;
}
.sec_text {
  padding-right: 20px;
  padding-top: 130px;
  padding-left: 120px;
}
.sec_text > * {
  width: 100%;
  margin: 0;
}
.last_sec h2, .sec_text h2 {
  margin-top: 0;
  font-weight: normal;
  font-size: 36px;
  line-height: 46px;
  margin-bottom: 24px;
}
.last_sec p, .sec_text p {
  margin-top: 0;
  font-size: 26px;
  line-height: 38px;
  letter-spacing: -.1px;
}
section:nth-of-type(2) .sec_text {
  padding-top: 120px;
  padding-left: 40px;
}
.last_sec {
  text-align: center;
  padding-top: 130px;
}
.last_sec p {
  width: 800px;
}
.btn {
  margin: 80px 20px 0;
  display: inline-block;
  border: 1px solid black;
  text-align: center;
  width: 280px;
  text-decoration: none;
  padding: 18px 30px;
  border-radius: 4px;
}
.btn-black {
  background: black;
  color: white;
  border-color: white;
}
.mobile-visible {
  display: none;
}
.sec_text h2 span::after {
  content: "";
  display: block;
}
#pic1 {
  width: 1110px;
  top: 80px;
  left: 40px;
  transform: rotate(45deg);
}
#pic2 {
  width: 650px;
  top: 60px;
  right: -5px;
}
#pic3 {
  width: 1110px;
  top: 140px;
  left: 40px;
}
